---
http_interactions:
- request:
    method: get
    uri: https://api.propublica.org/congress/v1/members/house/CO/current.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - S9JON3ruNOI6XiyymcnZ7gtsjnToPxuXyT0bgeaX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d2922e95-aead-11e7-89ce-1b68de5237c9
    body:
      encoding: UTF-8
      string: |
        {
           "status":"OK",
           "copyright":"Copyright (c) 2017 Pro Publica Inc. All Rights Reserved.",
           "results":[
              {
                 "id": "D000197",
                 "name": "Diana DeGette",
                 "first_name": "Diana",
                 "middle_name": null,
                 "last_name": "DeGette",
                 "role": "Representative",
                 "gender": "F",
                 "party": "D",
                 "times_topics_url": null,
                 "twitter_id": "RepDianaDeGette",
                 "facebook_account": "DianaDeGette",
                 "youtube_id": "RepDianaDeGette",
                 "seniority": "22",
                 "next_election": "2018",
                 "api_uri": "https://api.propublica.org/congress/v1/members/D000197.json",
                 "district": "1",
                 "at_large": false
              },
              {
                 "id": "P000598",
                 "name": "Jared Polis",
                 "first_name": "Jared",
                 "middle_name": null,
                 "last_name": "Polis",
                 "role": "Representative",
                 "gender": "M",
                 "party": "D",
                 "times_topics_url": null,
                 "twitter_id": "JaredPolis",
                 "facebook_account": "jaredpolis",
                 "youtub[...]
